@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #131213;
    --panel-bg-color: #1a1a1c;
    --form-bg-color: rgba(50, 55, 68, 0.75);
    --text-color: #e0e0e0;
    --placeholder-color: #a0a0a0;
    --accent-color: #F4C644; /* Using your yellow gradient as the main accent */
    --input-bg-color: #2c2c2e;
    --border-color: #444;
}

body {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #3F5EFB;
    /* background: radial-gradient(circle,rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%); */
    color: var(--text-color);
    margin: 2px;
    /* padding: 20px; */

}

.header {
    display: flex;
    width: 100%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    z-index: 1;
    height: 60px;
    max-width: 1400px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color);
    border-top: none;
    margin-bottom: 10px;
    margin-top: 0px;
    border-radius: 0 0 20px 20px;
    top: 0;
    position: fixed;
}

.logo {
    flex: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 180px;
    height: fit-content;
    margin-left: 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 80px
}

.main-container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    /* max-height: 100vh; */
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color);
}


.info-panel {
    flex-basis: 50%;
    background-color: #2A2826;
    padding: 40px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    border: 1px solid var(--accent-color);
}

.info-gif {
    max-width: 80%;
    height: auto;
    margin-bottom: 24px;
}

.info-panel h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 12px;
}

.info-panel p {
    font-size: 16px;
    color: var(--placeholder-color);
    line-height: 1.6;
}


.form-panel {
    flex-basis: 50%;
    background: #2a282675;
    backdrop-filter: blur(10px);
    padding: 40px;
    margin: 10px;
    border-radius: 25px;
    border: 1px solid var(--accent-color);
}

.form-container-Mform h3 {
    text-align: center;
    /* margin-bottom: 10px; */
}

#Mform {
    display: flex;
    flex-direction: column;
    gap: 8px; 
}


.form-container {
    background: var(--form-bg-color);
    backdrop-filter: blur(30px);
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: var(--form-color-2);
    margin: 40px 10px 10px 10px;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--warning-red);
    max-width: 895px;
    min-width: 30vw;
    border: 0.5px solid #F4C644;
    /* max-width: 70vw; */
    /* border: var(--form-border); */
}

.form-container-form {
    background: var(--form-bg-color);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: var(--form-color-2);
    margin: 40px 10px 10px 10px;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    min-width: 30vw;
    flex: 1;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--border-color);
}

.form-container-form-1 {
    background: var(--form-bg-color);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: var(--form-color-2);
    margin: 40px 10px 10px 10px;
    padding: 20px 20px 30px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--warning-red);
    border: 0.5px solid #F4C644;
}

h3 {
    font-size: 28px;
    padding: 15px 10px 10px 10px;
    font-weight: 800;
    font-size: 28px;
    padding: 15px 10px 10px 10px;
    font-weight: 800;
    color: wheat;

}

.Mform {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: 50%;
    flex-wrap: wrap;
}

select {
    background-color: rgba(0, 0, 0, 0.66);
    line-height: 26px;
    color: yellow;
    border: none;
    outline: none;
    height: 25px;
}

.row-view {
    display: flex;
    flex-direction: row;
    /* flex-basis: 300px;; */
    flex: 1;
    flex-wrap: wrap;
    padding-left: 20px;
    /* padding-right: 4px */
}

.ele-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
    /* padding: 10px 10px; */
    /* border: 0.1px solid #F4C644; */
}

.ele-container input{
    padding: 5px;
    border-radius: 2px;
    border: 0px;
    height: 30px;
    border: 2px solid transparent;
}

.ele-container input, select {
    background-color: #f4c54425;
    color: var(--text-color);
    border: 2px solid transparent;
    padding: 5px;
    border-radius: 4px;
    height: 35px;
}

select:focus {
    background-color: rgba(0, 0, 0, 0.778);
    color: yellow;
    font-weight: 500;
    border: none;
    outline: none;
    height: 30px;
}

.ele-container input:user-invalid {
    background: var(--warning-red);
    border: 2px solid var(--warning-red);
}

.ele-container > label {
    font-size: 13px;
    display: block;
    padding-left: 1px;
    margin-bottom: 4px;
    font-weight: 600;
}

.gender-row-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    /* padding-left: 10px; */
    margin: 4px 0px;
    flex-wrap: wrap;
    width: 100%;

}

.subject-row-category {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
    /* padding-left: 10px; */
    margin: 4px 0px;
}

.gender-category {
    display: flex;
    align-items: center;
    padding-right: 10px;
    /* gap: 10px; */
    flex: 33.33%;
}

.gender-category > label {
    font-size: 15px;
    height: 100%;
}

.ele-container input:focus {
    outline: none;
    text-decoration: none;
    border: 0px solid rgba(189, 83, 251, 0.77);
}

.ele-container input:focus, select:focus {
    outline: none;
    border: 2px solid var(--accent-color);
}

.ele-container input::placeholder {
    color: var(--placeholder-color);
    font-size: 13px;
    font-weight: 500;
}

.gender-container{
    display: flex;
    flex-direction: column;
    /* padding-left: 12px; */
    /* width: 100%; */
    flex: 1;
    /* min-width: 300px; */
    /* max-width: 50%; */
    align-self:center;
    flex-wrap: wrap;
}

.gender-container, .subject-container {
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    width: 100%;
    /* max-width: 50%; */
    align-self:center;
}

.gender-container > label, .subject-container > label {
    display: block;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
}

.subject-container {
    padding-left: 12px;
    width: 100%;
}

.subject-container > label {
    display: block;
    font-size: 13px;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
}

/* Custom Radio */
.gender-category {
    display: block;
    position: relative;
    padding-left: 25px;

    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 16px;
    --webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.gender-category input {
    position: absolute;
    opacity: 0;
    height: 100%;
    cursor: pointer
}

.custom-radio {
    position: absolute;
    top: 5px;
    left: 0;
    right: 20px;
    height: 15px;
    width: 15px;
    background-color: #131213;
    border-radius: 50%;
    border: 1px solid #F4C644;
}

.gender-category:hover input ~ .custom-radio {
    background-color: rgba(210, 0, 0, 0.63);
}

.gender-category:checked input ~ .custom-radio {
    background-color: rgb(0, 0, 0);
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.custom-radio::after{
    content: "";
    position: absolute;
    display: none;
}

.gender-category input:checked ~ .custom-radio::after {
    display: block;
}

.gender-category .custom-radio::after {
    top: 0px;
    left: -0.4px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #F4C644;
}

.categories {
    width: 140px;
}

.is-active .sort-panel {
  transform: translateY(0);
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mobile-overlay.is-active {
    visibility: visible;
    opacity: 1;
}

.overlay-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.471);
    cursor: pointer;
}

.overlay-panel {
    background-color: transparent;
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
    border-top: 1px solid var(--border-color);
}

.mobile-overlay.is-active .overlay-panel {
    transform: translateY(0);
}

.overlay-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--border-color);
    padding: 10px 20px;
}

.overlay-header h3 {
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.overlay-header .close-btn {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    padding: 5px;
    line-height: 1;
}

.overlay-options {
    list-style: none;
    padding: 0;
    margin: 0;
}

.overlay-options li {
    padding: 16px;
    cursor: pointer;
    border-bottom: 1px solid var(--border-color);
}

.overlay-options li:last-child {
    border-bottom: none;
}

.card-list-container {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
  /* width: 100%; */
}

.sort-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sort-panel li {
  padding: 15px;
  cursor: pointer;
  text-align: center;
}

.sort-panel li:hover {
  background-color: var(--border-color);
}

.sort-panel .close-btn {
  height: 30px;
  border: none;
  margin: 10px 0px;
}

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;

  visibility: hidden;
  opacity: 0;
}

.mobile-overlay.is-active {
  visibility: visible;
  opacity: 1;
}

#overlay-backdrop.inactive {
    display: none;
}


/* custom CheckBox */

.subject-category {
    display: block;
    position: relative;
    width: 50%;
    /* padding-left: 10px; */
    padding-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.subject-category input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.subject-category > *{
    padding-left: 2px;
}

.custom-checkbox {
    position: absolute;
    top: 2px;
    right: 10%;
    height: 20px;
    width: 20px;
    background-color: #131213;
    border: 1px solid #F4C644;
    cursor: pointer;
}

.subject-category input:checked ~ .custom-checkbox {
    background-color: #000000aa
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    display: none;
}

.subject-category input:checked ~ .custom-checkbox::after {
    display: block;
}

.subject-category .custom-checkbox::after {
    top: 2.5px;
    left: 2.5px;
    width: 14px;
    height: 14px;
    /* border-radius: 50%; */
    background-color: #F4C644;
}

.subject-filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */

}


.subject-row-category {
    width: 100%;
    flex-wrap: wrap;

}

#button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.button-register {
    display: inline-block;
    border-radius: 2px;
    height: 35px;
    width: 120px;
    background: #292829;
    color: white;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.668);
    cursor: pointer;
    border-radius: 25px;
    margin-top: 45px;
    box-shadow: 5px 5px 10px var(--warning-red);
}

.button-register:hover {
    background: #9b7819;
    transform: scale(1.05);
}


.button-register:active {
    background: var(--bg-color);
    box-shadow: 5px 5px 10px var(--caution-yellow);
}

.button-register:hover {
    transform: scale(1.1);
}

.form-sort-filter-bar {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 300px
}

 #sort-select  {
    position: relative ;
 }


.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.filter-bar button {
    padding: 0px 40px ;
}

.table {
    margin: 10px 0px;
    width: 100vw;
    border-collapse: collapse;
    /* overflow-x: auto; */
}


#table-container {
    padding: 20px 5px 10px 5px;
    width: 100%;
}

.table-container-div {
    overflow-x: auto;
    width: 100%;
}

#filter-containers {
    display: flex;
    flex: 0 1 320px;
    flex-basis: 30%;
    max-width: 342px;
    z-index: 1001;
}

#filter-containers.deactive-style {
    display: none;
}

table, th {

    padding: 10px 12px;
    border: 2px solid #F4C644;
    border-collapse: collapse;
}

td {
    padding: 0px 5px;
    border: 2px solid #F4C644;
    border-collapse: collapse;

}

tr:first-child td:first-child {
  border-top-left-radius: 10px;
}

tr:first-child td:last-child {
  border-top-right-radius: 10px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.apply-clear-bar {
    width: 100%;
}

.mobile-fixed-buttons {
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px 20px 0px 0px ;
    border: 1px solid var(--border-color);
    background: transparent;
    backdrop-filter: blur(20px);
    cursor: pointer;
    box-shadow: 10px 0px 30px rgba(0, 0, 0, 0.5);
    
}

.mobile-fixed-buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}



.filters-overlay {
    border-right: 1px solid var(--border-color);
}

.filters-header {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px
}

#refreshButton {
    display: none;
    position: fixed;
    bottom: 0px;
    right: 0px;

    background-color: #F4C644;

    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 20px;

    border: 0px;
    

}

#refreshButton:hover {
    transform: scale(1.1);
    background-color: #927218;
}

#refreshButton img {
    position: relative;
    top: 2px;
}

#refreshButton:active {
    background: var(--button-click);
}


.deactive-style {
    display: none;
}

.button-register-menu {

    margin-top: 4px;
    margin-bottom: 4px;
    border-radius: 0;
    background-color: #f4c5444c;
    width: 100%;
    padding-top: 5px;
    border: 0.5px solid #f4c544a0;
    box-shadow: none;
}

td {
    text-align: center;
}

#sort-filter-visible {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-wrapper {
    display: flex;
    flex-direction: row;
    margin: 4px;
    align-items: flex-start;
    align-self: center;
    justify-content: center;
    width: 100%;
    max-width: 1400px;
    flex-wrap: wrap;
    margin-bottom: 50px;

}

.filter-wrapper {
    margin-top: 10px;
}

/* SORT BY STYLING */
.dropdown > input[type="checkbox"] {
    position: absolute;
    display: none;
}

.dropdown > label {
    display: inline-block;
    text-align: center;
    padding: 8px 8px;
    color: #333;
    height: 40px;
    width: 40px;
    text-decoration: none;
    border: 2px solid #ffffff;
    background-color: wheat;
    cursor: pointer;
    border-radius: 2px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px var(--warning-red);
}



.dropdown > label:hover {
    background-color: #F4C644;
    transform: scale(1.1);
}

.dropdown > ul {
    position: absolute;
    z-index: 999;
    text-align: center;
    left: -1000vw;
    top: 50px;
    border: 2px solid #ffffff;
    background: wheat;
    padding: 6px 0;
    margin: 0;
    list-style: none;
    height: 150px;
    width: 140px;
    border-radius: 2px;
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
}

.dropdown > input[type="checkbox"]:checked ~ ul {
    left: -100px;
    top: 60px;
    border-radius: 2px;
}

.dropdown > ul a {
    display: block;
    padding: 6px 15px;
    text-decoration: none;
    color: #333;
}

.dropdown > ul a:hover {
    background: #ececec;
}

.row-filter-align {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

row-filter-align h4 {
    padding-right: 4px;
}

#my-dropdown {
    visibility:hidden;
}

#sort-filter-visible {
    display: flex;
    align-items: center;
    gap: 10px;
}

#filter-button {
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: wheat;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    margin: 20px;
    border-radius: 25px;
    border: 2px solid white;

}

#filter-button img {
    margin-top: 5px;
    height: 30px;
}

#filter-button:hover {
    background-color: #F4C644;
}

.inactive {
    display: none;
}

.button-register-width {
    min-width: 250px;
}
.no-scroll {
    overflow: hidden;
}

/* scrollbar */
/* For modern browsers like Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

/* For Webkit-based browsers (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.deactive-style {
    display: none;
}


@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 120%;
    height: 120%;
    top: 0;
    left: 0;
    background: #2a2826;
    overflow: hidden;
}

.background span {
    width: 16vmin;
    height: 16vmin;
    border-radius: 16vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 21%;
    left: 38%;
    animation-duration: 14s;
    animation-delay: -30s;
    transform-origin: -2vw 25vh;
    box-shadow: -32vmin 0 4.272636508222613vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 100%;
    left: 97%;
    animation-duration: 29s;
    animation-delay: -1s;
    transform-origin: 5vw -11vh;
    box-shadow: 32vmin 0 4.139675378277652vmin currentColor;
}
.background span:nth-child(2) {
    color: #E45A84;
    top: 70%;
    left: 71%;
    animation-duration: 7s;
    animation-delay: -11s;
    transform-origin: 3vw 21vh;
    box-shadow: 32vmin 0 4.53629790941585vmin currentColor;
}
.background span:nth-child(3) {
    color: #FFACAC;
    top: 50%;
    left: 86%;
    animation-duration: 29s;
    animation-delay: -31s;
    transform-origin: -14vw -19vh;
    box-shadow: 32vmin 0 4.126611233704637vmin currentColor;
}
.background span:nth-child(4) {
    color: #583C87;
    top: 84%;
    left: 79%;
    animation-duration: 46s;
    animation-delay: -5s;
    transform-origin: 9vw -23vh;
    box-shadow: -32vmin 0 4.913429414778464vmin currentColor;
}
.background span:nth-child(5) {
    color: #E45A84;
    top: 27%;
    left: 47%;
    animation-duration: 45s;
    animation-delay: -29s;
    transform-origin: -17vw -14vh;
    box-shadow: -32vmin 0 4.218389170297245vmin currentColor;
}
.background span:nth-child(6) {
    color: #583C87;
    top: 81%;
    left: 59%;
    animation-duration: 44s;
    animation-delay: -16s;
    transform-origin: 17vw 9vh;
    box-shadow: -32vmin 0 4.652759295301753vmin currentColor;
}
.background span:nth-child(7) {
    color: #583C87;
    top: 50%;
    left: 16%;
    animation-duration: 39s;
    animation-delay: -1s;
    transform-origin: -17vw -11vh;
    box-shadow: 32vmin 0 4.5526565217449155vmin currentColor;
}
.background span:nth-child(8) {
    color: #FFACAC;
    top: 9%;
    left: 12%;
    animation-duration: 26s;
    animation-delay: -14s;
    transform-origin: -21vw -9vh;
    box-shadow: -32vmin 0 4.870406343498807vmin currentColor;
}


@media (max-width: 1024px){
    .row-view-gender-phone-no{
        flex-direction: column;
    }

    .info-panel {
        display: none;
    }

    .form-panel {
        flex-basis: 100%;
        padding: 0px;
    }

    .form-panel h3 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button-register {
        margin-top: 15px;
        margin-bottom: 25px;
    }

}

@media (max-width: 767px){

    .form-panel {
        border: none;
    }
    .table {
        border: none;
    }
}

@media (max-width: 432px ){

    .form-panel {
        padding: 10px 5px;
    }

    /* .filter-wrapper {
        bottom: -50%;
    } */
    .row-filter-align {
        padding-left: 25px;
    }


    .row-view label, h4 {
        font-size: 18px;
        font-style: italic;
    }

    .button-register-width {
        min-width: 320px;
    }

    .button-register {
        box-shadow: none;
    }

    .subject-row-category {
        width: 80vw;
        align-items: center;
    }

    .form-header {
        display: flex;
        min-width: 80vw;
        justify-content: center;
    }
    
    #sort-filter-visible {
        min-width: 80vw;
        justify-content: center;
    }

    .row-view {
        padding: 0;
    }
    body {
        font-size: 14px;
    }
    h3 {
        font-size: 20px;
    }
    .main-container {
        margin: 0;
        border-radius: 0;
        backdrop-filter: blur(0);
        /* padding-top: 0; */

    }
    .row-view label, h4 {
        font-size: 16px;
    }

    .form-panel {
        backdrop-filter: blur(0);
    }

}

